@font-face {
    font-family: "card-font";
    src: url('/scripts/idphoto/TradeBold.ttf') format("truetype");
}

@media print {
	.noprint {
		display: none;
	}
	.label-rotate {
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-o-transform: rotate(270deg);
		transform: rotate(270deg);
		position: absolute;
		/*z-index: 1000;*/
	}
}

@media screen {
	.nodisplay {
		display: none;
	}
	.label-rotate {
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-o-transform: rotate(270deg);
		transform: rotate(270deg);
		position: absolute;
		z-index: 500;
	}
}


