@font-face {
    font-family: "cardFont";
    src: url('/scripts/idphoto/TradeBold.ttf') format("truetype");
}
.nodisplay{
	display: none;
	width: auto;
	font-family: Arial,Verdana;
	font-size: 10px;
}

.label-rotate {
-webkit-transform: rotate(270deg);
-moz-transform: rotate(270deg);
-ms-transform: rotate(2700deg);
-o-transform: rotate(270deg);
transform: rotate(270deg);

width: 100%; 
height: auto;
font-weight: bold;
position: absolute;

}
